.container{
    max-width: 800px;
    background-color: #F5F5F5;
}
#task{
    border-top: 1px solid #F0F0F0;

}
.span-datetime {
    margin-right: 5px; 
  }
  
  .contenedor-botones {
    margin: 5px; 
  }